---
import { siteConfig } from '../site.config';
---

<footer class="site-footer">
  <div>
    <p class="footer-brand">Astor Library</p>
    <p>{siteConfig.tagline}</p>
  </div>
  <div class="footer-links">
    <a href="/library/">Library</a>
    <a href="/shakespeare/">Shakespeare</a>
    <a href="/study/">Study resources</a>
    <a href="mailto:hello@astorlibrary.co.uk">Contact</a>
  </div>
</footer>
